<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8"> 
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/widget/nav.css">
    <link rel="stylesheet" type="text/css" href="css/sourcedetail.css">
</head>
<body>
	<div id="header" class="header">
        <i></i>
        <h3>登陆了</h3>
        <ul>
            <li><button type="button" class="btn btn-success">用QQ登陆</button></li>
            <li><input type="text" placeholder="——  or  ——" disabled="disabled" style="border:none; text-align:center; background:white;"></li>
            <li><input type="text" placeholder="用户名..."></li>
            <li><input type="text" placeholder="密码..."></li>
            <li style="height:30px;"><button type="button" class="btn btn-success" style="margin:0;font-size:0.8em;">忘记密码，请点击这里<a href=""></a></button></li>
            <li style="margin-top:16px;"><button type="submit" class="btn btn-info">登陆</button></li>
        </ul>
    </div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Student</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
	        <li><a href="#">选项一</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">下拉菜单<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">选项一</a></li>
	            <li><a href="#">选项一</a></li>
	            <li><a href="#">选项一</a></li>
	            <li class="divider"></li>
	            <li><a href="#">选项一</a></li>
	            <li class="divider"></li>
	            <li><a href="#">选项一</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">查找</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right" id="login">
	        <li id="log"><a href="#" class="btn btn-success">登陆</a></li>
	        <li id="reg"><a href="#" class="btn btn-success">注册</a></li>
	        <ol>
	            <li><a href="">家长</a></li>
	            <li><a href="">辅导机构及个人</a></li>
	        </ol>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">2013</a></li>
		  <li class="active">十一月</li>
		</ol>
	</div>
	<div class="container col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" id="sourcedetail-top">
		<img src="images/sourcedetail/1.jpg" alt="">
		<li>学习人数
			<p></p>
		</li>
		<li>学习人数
			<p></p>
		</li>
		<li>学习人数
			<p></p>
		</li>
		<li>学习人数
			<p></p>
		</li>
		<li>学习人数
			<p></p>
		</li>
	</div>
	<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12" id="sourcedetail-middle">
		<ul class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12">
			<li class="col-lg-2 col-md-2 col-sm-2 col-xs-3">内部发现</li>
			<li class="col-lg-2 col-md-2 col-sm-2 col-xs-3">全部课程</li>
			<li class="col-lg-2 col-md-2 col-sm-2 col-xs-3">学习计划</li>
			<li class="col-lg-2 col-md-2 col-sm-2 col-xs-3">顶尖分享</li>
		</ul>
		
		<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12 col-xs-12" id="sourcedetail-middle1">
			<dl>
				<dt>第一章</dt>
				<dd>1.1</dd>
				<dd>1.2</dd>
				<dd>1.3</dd>
				<dt>第二章</dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dt></dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
				<dt></dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
			</dl>
		</div>
	</div>
    <div class="container col-lg-3 col-md-3 col-sm-12 col-xs-12" id="sourcedetail-middle-right">
			<div id="sourcedetail-middle-right1">
				<h4>授课来源</h4>
				<img src="images/sourcedetail/1.jpg" alt="">
				<p>尽快将啊哈将扩大假户口就划分空间啊加加咖啡wa</p>	
			</div>
		</div>
	<div id="clear" style="clear:both;"></div>
	<footer class="footer" id="footer">
    	<ol>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    		<li><a href=""></a></li>
    	</ol>
    </footer>
</body>
<script type="text/javascript" src="bootstrap/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../js/widget/nav.js"></script>
<script type="text/javascript" src="../js/sourcedetail.js"></script>
</html>